@import '../imports';

html {
    scroll-behavior: smooth;
}

#site-header {
    position: absolute;
    padding: 20px 0;
    background-color: transparent;
    width: 100%;
    transition: .3s linear;

    &.sticky {
        position: fixed;
        background-color: $color-brown-light;
        box-shadow: 2px 0 10px rgba($color: $color-brown-dark, $alpha: 0.6);
        z-index: 999;

        img.fixed {
            display: none;
        }

        img.sticky {
            display: block;
        }

        .site-nav a.link-nav {
            color: $color-dark-light !important;
            @include linkAfter($color-blue, 2px);

            &:hover{
                color: $color-blue !important;
            }
        }
    }

    img.sticky {
        display: none
    }

    .container {
        @include flex(space-between, center, row);

        .site-nav ul {
            @include flex(center, center, row);
            gap: 20px;
            list-style: none;

            a {
                color: #fff;
                font-size: 1.1em;
                text-transform: uppercase;
                @include linkAfter($color-brown, 2px);

                &:hover {
                    color: $color-brown;
                }
            }
        }
    }
}

#site-footer {
    padding: 40px 0;
    background-color: $color-gray-dark;

    .container {
        @include flex(space-between, flex-start, row);

        .col1 {
            width: calc(33% - 20px);
        }

        .col2 {
            width: calc(33% - 20px);

            h3 {
                color: #fff;
                margin-bottom: 20px;
            }

            ul {
                list-style: none;
                @include flex(inherit, inherit, column);
                gap: 10px;

                a {
                    color: $color-gray-light;

                    &:hover {
                        color: $color-blue-light;
                    }
                }
            }
        }

        .col3 {
            width: calc(33% - 20px);
            @include flex(inherit, inherit, column);

            p {
                text-align: justify;
                color: $color-gray-light;
                margin-bottom: 25px;
            }

            a.btn {
                align-self: flex-end;
                color: #fff;
                @include button-full(#fff, #111, 12px 28px, $color-gray-light, #111);
            }
        }
    }
}

#dev-footer {
    background: url('../../src/home-banner.jpg') center center;
    background-size: cover;
    padding: 0;

    .overlay {
        background-color: rgba($color: $color-blue-dark, $alpha: 0.9);
        padding: 20px 0;
    }

    .container {
        color: #fff;
        text-align: center;

        a.dev {
            color: #26d4ff;
            cursor: pointer;
        }
    }
}