@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400&family=Work+Sans:wght@300;400;500;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  padding: 80px 0;
  background-color: #f1f1f1;
}
section h2 {
  font-size: 3em;
  color: #242526;
  text-align: center;
  margin-bottom: 30px;
}
section p {
  font-size: 1.1em;
  margin-bottom: 30px;
  text-align: center;
  color: #444;
}

section.brown {
  background-color: #dbd0c5;
}
section.brown h2 {
  font-size: 3em;
  color: #40312e;
  text-align: center;
  margin-bottom: 30px;
}

.container {
  max-width: 1200px;
  padding: 0 30px;
  margin: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Tinos", serif;
}

span,
a,
p,
label {
  font-family: "Work Sans", sans-serif;
}

a:not(.btn) {
  text-decoration: none;
  position: relative;
  transition: all 0.2s;
}

#orcamento form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
#orcamento form .message-envio {
  color: rgb(23, 203, 23);
  align-self: center;
  justify-self: center;
  margin: 20px 0;
  font-size: 1.2em;
}
#orcamento form .form-group {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
#orcamento form .form-group label {
  font-size: 1.2em;
  color: #40312e;
  margin-bottom: 10px;
}
#orcamento form .form-group input {
  padding: 12px 30px;
  background-color: transparent;
  color: #242526;
  border: none;
  border-bottom: 1px solid #40312e;
  outline: none;
  font-size: 1.1em;
}
#orcamento form .form-group textarea {
  border: none;
  border-bottom: 1px solid #40312e;
  background-color: transparent;
  outline: none;
  padding: 12px 30px;
  color: #242526;
  width: 100%;
  font-size: 1.3em;
}
#orcamento form .form-group#group-arquivo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 40px;
}
#orcamento form .form-group#group-arquivo label {
  padding: 12px 28px;
  background-color: transparent;
  color: #40312e;
  border: 1px solid #40312e;
  border-radius: 5px;
  text-decoration: none;
  margin-bottom: 0;
}
#orcamento form .form-group#group-arquivo label:hover {
  background-color: #40312e;
  color: #fff;
}
#orcamento form .form-group#group-arquivo input[type=file] {
  display: none;
}
#orcamento form .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  margin-bottom: 40px;
  width: 100%;
}
@media screen and (max-width: 450px) {
  #orcamento form .row {
    flex-wrap: wrap;
    margin-bottom: 0;
    justify-content: center;
  }
  #orcamento form .row .form-group {
    width: calc(100% - 20px) !important;
    margin-bottom: 20px;
  }
}
#orcamento form .row .form-group {
  width: calc(50% - 20px);
}
#orcamento form .row .form-group input {
  width: 100%;
}
#orcamento form .row .form-group select {
  width: 100%;
  padding: 12px 30px;
  background-color: transparent;
  color: #242526;
  border-radius: 5px;
  border-bottom: 1px solid #40312e;
  outline: none;
  font-size: 1.1em;
}
#orcamento form button {
  padding: 16px 32px;
  background-color: transparent;
  color: #40312e;
  border: 1px solid #40312e;
  border-radius: 5px;
  text-decoration: none;
  align-self: flex-end;
  margin-top: 40px;
  font-size: 1em;
  cursor: pointer;
}
#orcamento form button:hover {
  background-color: #40312e;
  color: #fff;
}
@media screen and (max-width: 450px) {
  #orcamento form button {
    align-self: center;
  }
}/*# sourceMappingURL=orcamento.css.map */