@import '../imports';

body {
    @include flex(center, center, column);
    height: 100vh;
    background-color: $color-gray-dark;
}

section#categories {
    border-radius: 5px;
    padding: 50px 60px;
    box-shadow: 2px 2px 10px rgba($color: #000, $alpha: 0.6);

    .header {
        @include flex(space-between, center, row-reverse);
        margin-bottom: 30px;
    }

    a.btn {
        text-decoration: none;
        padding: 16px 32px;
        background-color: rgb(166, 21, 21);
        color: #fff;
        border-radius: 5px;
        border: none;
    }

    h1 {
        font-size: 2.4em;
    }

    .categories {
        @include flex(space-between, center, row);
        flex-wrap: wrap;
        gap: 40px;

        .category {
            padding: 24px 36px;
            background-color: $color-blue;
            border-radius: 5px;
            color: #fff;

            &:hover {
                background-color: rgba($color: $color-blue, $alpha: 0.95);
                transform: translateY(-5px);
            }

            h3 {
                font-family: $font-secondary;
                font-weight: 400;
            }
        }
    }
}

section#products {
    border-radius: 5px;
    padding: 50px 60px;
    box-shadow: 2px 2px 10px rgba($color: #000, $alpha: 0.6);

    .header {
        @include flex(space-between, center, row-reverse);
        margin-bottom: 60px;
    }

    .buttons {
        @include flex(center, center, row);
        gap: 20px;
        
        a.btn {
            text-decoration: none;
            padding: 16px 32px;
            background-color: $color-blue;
            color: #fff;
            border-radius: 5px;
            border: none;
            
            &:last-child {
                background-color: rgb(166, 21, 21);
            }
        }
    }

    h1 {
        font-size: 2.6em;
    }

    .products {
        @include flex(space-between, center, row);
        flex-wrap: wrap;
        gap: 40px
    }

    .product {
        @include flex(space-between, center, column);
        width: calc(20% - 20px);
        border-radius: 10px;
        background-color: #fff;
        height: 220px;
        padding: 10px 0;
        box-shadow: 2px 2px 10px rgba($color: #888, $alpha: 0.3);
        border: 1px solid $color-blue;
        transition: 0.2s linear;

        &:hover {
            transform: translateY(-5px);
            cursor: pointer;
        }

        h3 {
            font-size: 1.4em;
        }
    }
}